* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
}

ul {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid black;
    padding: 5px;
}

a {
    color: coral;
    text-decoration: none;

}

h1 {
    color: white;
    text-align: center;
}
